extends ../layouts/default


block content
		.container: .row
			p I once saw a therapist who was trying to cure my anxiety. As an antidote, he instructed me to tell him five things I liked about myself. (A task which, ironically, caused more anxiety.) I agreed* only after he agreed that the exercise was totally cheesy. A few days later when I was sitting around with my friends telling them about the whole therapist thing, I realized that I really wanted to hear their answers. And that I really wanted to hear a bunch of people's answers. Friends and acquaintances and co-workers and twice-removed-on-Facebook and total strangers whom I would probably never meet. And that's how #[em 5. things about you] was born. People have asked me what I'm going to do with this. I don't know exactly. I do know that reading what people across the world (New Zealand! Ecuador! Peoria, IL!) see in themselves is pretty much my favorite thing to do. And I guess I'm looking forward to where that leads. Anyway, I can't wait for your 5.things.
	
			

