mixin comment-form(action)
	form(method='post', style="margin-bottom: 40px; margin-top: 40px;")
		input(type='hidden', name='action', value='comment.create')
		.media
			.media-body
				input(name='name', type='text' placeholder='Name' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='realName', type='text' placeholder='Is this your real name?' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='location', type='text' placeholder='Where' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='age', type='text' placeholder='Age' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='email', type='text' placeholder='Email' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='thing1', type='text' placeholder='1?' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='thing2', type='text' placeholder='2?' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='thing3', type='text' placeholder='3?' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='thing4', type='text' placeholder='4?' style="margin-bottom: 10px; resize: vertical;").form-control
				input(name='thing5', type='text' placeholder='5?' style="margin-bottom: 10px; resize: vertical;").form-control
				
				button(type='submit').btn.btn-primary Post Comment

